################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/interview.generator.api/bin/Debug/net7.0
